// header styles
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 27px 0 29px 0;
  z-index: 1;

  @include d(1500) {
    padding: 20px 0;
  }

  &-row {
    display: flex;
    align-items: center;

    @include d(991) {
      justify-content: space-between;
    }
  }

  &-controls {
    display: flex;
    align-items: center;

    @include d(991) {
      flex-direction: row-reverse;
      justify-content: flex-end;
      padding-left: 15px;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 100px;
    width: 100%;
    transition: left $hover-duration $timing;

    @include d(1500) {
      margin-left: 40px;
    }

    @include d(1199) {
      margin-left: 30px;
    }

    @include d(991) {
      margin-left: 0;
      display: block;
      position: fixed;
      top: 0;
      left: -40vw;
      width: 40vw;
      height: 100vh;
      background-color: $white;
    }

    @include d(767) {
      width: 60vw;
      left: -60vw;
    }

    @include d(575) {
      width: 100vw;
      left: -100vw;
    }

    &.open {
      left: 0;
    }
  }
}

.logo {
  max-width: 162px;
  flex: 0 0 162px;
  position: relative;
  z-index: 10;

  @include d(1500) {
    max-width: 120px;
    flex: 0 0 120px;
  }

  @include d(1199) {
    max-width: 100px;
    flex: 0 0 100px;
  }

  @include d(991) {
    max-width: 113px;
    flex: 0 0 1113px;
  }
}

.nav {
  font-weight: 500;

  @include d(991) {
    margin-bottom: 40px;
  }

  &-menu {
    display: flex;
    align-items: center;

    @include d(991) {
      padding-top: 60px;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 35px;
    }

    &__item {
      position: relative;

      &:not(:last-child) {
        margin-right: 47px;

        @include d(1500) {
          margin-right: 25px;
        }

        @include d(1199) {
          margin-right: 5px;
        }

        @include d(991) {
          margin-right: 0;
        }
      }

      &-icon {

        &::before {
          content: "";
          width: 13px;
          height: 6px;
          background-image: url(../img/down.svg);
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          position: absolute;
          right: -10px;
          top: 24px;
          transition: transform .2s $timing;

          @include d(1199) {
            width: 8px;
            top: 22px;
            right: -3px;
          }
        }
      }

      @include rh(992) {
        &:hover {
          .nav-menu__link {
            color: $primary;
          }

          &.nav-menu__item-icon {
            &::before {
              transform: scale(-1);
            }
          }

          .submenu {
            opacity: 1;
            transform: translate(0, 0);
            pointer-events: initial;
          }
        }
      }
    }

    &__link {
      padding: 10px;
      transition: color $hover-duration $timing;
    }
  }
}

.burger {
  display: none;
  width: 25px;
  height: 18px;
  position: relative;
  background-color: transparent;
  border: none;

  &.open {
    .burger__item:first-child {
      transform: rotate(45deg);
      top: 7px;
    }

    .burger__item:nth-child(2) {
      width: 0;
      opacity: 0;
    }

    .burger__item:last-child {
      transform: rotate(-45deg);
      bottom: 8px;
    }
  }

  &__item {
    width: 100%;
    height: 2px;
    background-color: $primary;
    position: absolute;
    left: 0;
    transition: transform $hover-duration $timing, top $hover-duration $timing, bottom $hover-duration $timing;

    &:first-child {
      top: 0;
      transform: rotate(0);
    }

    &:nth-child(2) {
      top: 50%;
      margin-top: -1px;
      opacity: 1;
    }

    &:last-child {
      bottom: 0;
      transform: rotate(0);

    }
  }

  @include d(991) {
    display: inline-block;
  }
}

.submenu {
  position: absolute;
  background-color: $white;
  top: 100%;
  left: -15px;
  padding: 5px 15px;
  border-radius: 3px;
  font-size: 18px;
  width: auto;
  white-space: nowrap;
  box-shadow: 0 20px 60px 20px rgba($grey, .1);
  z-index: 1;
  transform: translate(0, 10px);
  pointer-events: none;
  opacity: 0;
  transition: opacity $hover-duration $timing, transform $hover-duration $timing, ;

  &__item {
    margin-bottom: 5px;
  }

  &__link {
    transition: color $hover-duration $timing;

    @include rh(992) {
      &:hover {
        color: $primary;
      }
    }
  }
}