// project colors
$white: #ffffff;
$black: #000000;
$textColor: $black;
$primary: #3AAB87;
$primaryDark: #308E70;
$primaryLight: #51C878;
$grey: #C4C4C4;
$greyDark: #857B7B;
$blue: #0E4D94;
$blueDark: #3E4E69;
$greyBg: #F0F0F0;
$greyBgLight: #F8F9FA;
$footerBg: #212936;
// timing
$hover-duration: .3s;
$duration: .8s;
$timing: linear;