    <!-- footer start -->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 order-1 order-lg-0">
            <nav class="footer-nav">
              <ul class="footer-menu">
                <li class="footer-menu__item"><a href="#" class="footer-menu__link">Home</a></li>
                <li class="footer-menu__item"><a href="#" class="footer-menu__link">Shopers</a></li>
                <li class="footer-menu__item"><a href="sellers.html" class="footer-menu__link">Sellers</a></li>
                <li class="footer-menu__item"><a href="#" class="footer-menu__link">Affiliates</a></li>
                <li class="footer-menu__item"><a href="#" class="footer-menu__link">FAQ</a></li>
                <li class="footer-menu__item"><a href="#" class="footer-menu__link">Blog</a></li>
                <li class="footer-menu__item"><a href="#" class="footer-menu__link">Contact</a></li>
                <li class="footer-menu__item"><a href="#" class="btn btn-login"><img src="img/login.svg" alt="login">Login</a></li>
              </ul>
            </nav>
          </div>
          <div class="col-lg-6 order-0 order-lg-1">
            <div class="footer__content">
              <address class="footer__box">
                <span class="title-5 footer__title">Location</span>
                <p>Your office, Building Name, City, </p>
                <p>Street name, Area,</p>
                <p>Country Pin Code</p>
              </address>
              <div class="footer__box">
                <h5 class="title-5 footer__title">Phone</h5>
                <a href="tel:11122333333">11122333333</a>
              </div>
              <div class="footer__box">
                <h5 class="title-5 footer__title">E-mail</h5>
                <a href="mailto:support@prosavr.com">support@prosavr.com</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <ul class="footer-social">
              <li class="footer-social__item">
                <a href="#" class="footer-social__link">
                  <svg class="svg-social">
                    <use xlink:href="img/svg/sprite-svg/sprite.svg#twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="footer-social__item">
                <a href="#" class="footer-social__link">
                  <svg class="svg-social">
                    <use xlink:href="img/svg/sprite-svg/sprite.svg#facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="footer-social__item">
                <a href="#" class="footer-social__link">
                  <svg class="svg-social">
                    <use xlink:href="img/svg/sprite-svg/sprite.svg#linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="footer-social__item">
                <a href="#" class="footer-social__link">
                  <svg class="svg-social">
                    <use xlink:href="img/svg/sprite-svg/sprite.svg#instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="footer__copyright">
              <p>All Rights Reserved. &copy; 2020 ProSavr</p>
              <a href="#">Terms of Use & Privacy Policy</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- footer end -->