    <!-- header start -->
    <header class="header">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="header-row">
              <a href="./" class="logo">
                <img src="img/logo.svg" alt="logo">
              </a>
              <div class="header__content" id="headerMenu">
                <nav class="nav">
                  <ul class="nav-menu">
                    <li class="nav-menu__item"><a href="#" class="nav-menu__link">Home</a></li>
                    <li class="nav-menu__item"><a href="#" class="nav-menu__link">Learn More</a>
                      <ul class="submenu">
                        <li class="submenu__item"><a href="#" class="submenu__link">Sub item</a></li>
                        <li class="submenu__item"><a href="#" class="submenu__link">Sub item</a></li>
                        <li class="submenu__item"><a href="#" class="submenu__link">Sub item</a></li>
                      </ul>
                    </li>
                    <li class="nav-menu__item"><a href="sellers.html" class="nav-menu__link">Sellers</a></li>
                    <li class="nav-menu__item"><a href="#" class="nav-menu__link">Shoppers</a></li>
                    <li class="nav-menu__item"><a href="#" class="nav-menu__link">FAQ</a></li>
                    <li class="nav-menu__item"><a href="#" class="nav-menu__link">Contact</a></li>
                  </ul>
                </nav>
                <div class="header-controls">
                  <a href="#modalLogin" class="btn btn-login" data-fancybox><img src="img/login.svg" alt="login">Login</a>
                  <a href="#modalRegister" class="btn btn-header" data-fancybox >Register</a>
                </div>
              </div>
              <button class="burger" id="burger">
                <span class="burger__item"></span>
                <span class="burger__item"></span>
                <span class="burger__item"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- header end -->