<!-- <div class="modal" id="modalRegister">
  <div class="modal-row">
    <div class="modal__img">
      <img src="img/modal/modal.png" alt="modal">
      <h2 class="title-2">Register Now!</h2>
      <p>Smart shoppers across the country are saving big money on great Amazon products sent directly to their door.
      </p>
    </div>
    <div class="modal__content">
      <h4 class="title-4">Please fill with <span>your details</span></h4>
      <div class="modal-form">
        <form>
          <div class="form-row">
            <div class="form-box">
              <label class="form-label">
                <input type="text" class="form-input" placeholder="First name">
              </label>
            </div>
            <div class="form-box">
              <label class="form-label">
                <input type="text" class="form-input" placeholder="Last name">
              </label>
            </div>
          </div>
          <div class="form-row">
            <div class="form-box">
              <label class="form-label">
                <input type="email" class="form-input" placeholder="You email address">
              </label>
            </div>
            <div class="form-box">
              <label class="form-label">
                <input type="password" class="form-input" placeholder="Password">
              </label>
            </div>
          </div>
          <div class="form-row">
            <div class="form-box">
              <label class="form-label">
                <input type="password" class="form-input" placeholder="Re-enter password">
              </label>
            </div>
            <div class="form-box">
              <label class="form-label">
                <input type="text" class="form-input" placeholder="Modile No.">
              </label>
            </div>
          </div>
          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div> -->

<div class="modal modal-login" id="modalRegister">
  <div class="modal-row">
    <div class="modal__img">
      <img src="img/modal/modal.png" alt="modal">
      <h2 class="title-2">Register Now!</h2>
    </div>
    <div class="modal__content">
      <h4 class="title-4">Enter <span>your details</span></h4>
      <div class="modal-form">
        <form>
          <div class="form-box">
            <label class="form-label">
              <input type="text" class="form-input" placeholder="First name">
            </label>
          </div>
          <div class="form-box">
            <label class="form-label">
              <input type="email" class="form-input" placeholder="You email address">
            </label>
          </div>
          <div class="form-box">
            <label class="form-label">
              <input type="password" class="form-input" placeholder="Password">
            </label>
          </div>
          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>